{% extends "base_security.html.twig" %}

{% block body %}
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-auto">
                <div class="alert alert-primary" role="alert">
                    <h2 class="my-0">Your new password is sent! Check your inbox.</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}