{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">

            <h3><b>About us</b></h3>
            <p>
                Web Shop is one of the leading distributors of famous sport and fashion brands with more than 60 retail stores in Serbia and Bosnia and Herzegovina.
            </p>
            <p>
                We are focused on meeting the needs of our clients and ensuring that individuality is presented as a personal style, as a reflection of one’s personality and lifestyle. For this reason, N Sport resists conventionality and puts diversity and each person’s uniqueness under the spotlight.
            </p>
            <p>
                The company is known for its three main multi-brand retail concepts: Web Shop Sport, Web Shop Fashion  and Web Shop Selection.
            </p>
            <p>
                Web Shop supports active life of modern men and women through sport brands like: PUMA, adidas, Nike, Sergio Tacchini, Russell Atheltic, Converse, Reebok, Skechers, Rider/Ipanema, Timberland, Columbia, Northland...
            </p>
            <p>
                Web Shop Fashion is dedicated to customers of sophisticated fashion taste and to followers of global fashion trends - to them we can offer the best high street brands: Tommy Hilfiger, Liu Jo, Superdry, Replay, Guess, Armani Exchange, Trussardi Jeans, Baldinini, Bogner, Ugg, Mou, Staff Jeans...
                Web Shop Selection concept is inspired by the urban rhythm of the World’s largest cities and represents the best of top fashion and sport brands like PUMA Prime and Select, adidas Originals, Nike, Tommy Hilfiger, Guess, Replay, Armani Exchange, Bogner, Trussardi Jeans...
            </p>

            <h3><b>Vision</b></h3>
            <p>
                To be the market leader in trend setting and encouraging innovations and individualism.
            </p>
        </div>
    </div>
{% endblock %}
