{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h3>Contact</h3>

            <address class="bg-white shadow-lg p-4">
                <p><b>Company:</b> Web Shop d.o.o. Aleksinac - Kraljevo</p>
                <p><b>Address:</b> 18220 Aleksinac, Serbia</p>
                <p><b>Phone:</b> +381 60 677 96 68</p>
                <p class="my-0"><b>E-mail:</b> kulence@gmail.com</p>
            </address>
        </div>
    </div>
{% endblock %}
