{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h3 class="mb-5"><b>Payment methods:</b></h3>
            <hr>
            <h5><b>Cash on delivery</b></h5>
            <p>
                If you selected the option to pay by the ordering process during the ordering process, the deliveryer will arrive at your address with a shipment.
                Payment is possible only with cash. Our advice is to prepare the exact amount for payment on that occasion.
            </p>
            <hr>
            <h5><b>Payment cards during the purchase process on the site</b></h5>
            <p>Paying on web is possible with these cards: MasterCard, Maestro, Visa, American Express.</p>
            <hr>
            <h5><b>Payment cards at 6 monthly installments without interest</b></h5>
            <p>This way of paying is available only for Banca Intesa credit card users.</p>
            <hr>
        </div>
    </div>
{% endblock %}
