<style>
    body {
        height: calc(100vh - 100px);
        background-color: #551A8B;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .info h1 {
        color: white;
    }
</style>
<div class="info">
    <h1>You have unsubscribed newsletter. Have a nice day</h1>
</div>