{% extends "base_security.html.twig" %}

{% block title %}Success activation{% endblock %}

{% block body %}

    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-lg-6">
                <div class="alert alert-success">
                    {{ name }} {{ lastName }}, your account is activated!
                    <a href="/login">go to login</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}