<h2>Activation mail</h2>

<p>Hi {{ name }} {{ lastName }}! Here is your activation link: <a href="http://127.0.0.1:8000/account/verification/{{ activationLink }}">http://127.0.0.1:8000/account/verification/{{ activationLink }}</a></p>

