<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body {
            margin: 0;
            font-size: 16px;
            height: 600px;
            background-color: #ebebeb;
            color: #4a4a4a;
        }

        *, ::before, ::after {
            box-sizing: border-box;
        }
        .container {
            width: 100%;
            max-width: 900px;
            padding: 0 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .header, .footer {
            padding: 25px 0;
        }
        .text-center {
            text-align: center;
        }
        .bg-purple {
            background-color: #551A8B;
        }
        h1 {
            margin: 0;
        }
        .text-white {
            color: white;
        }
        .footer p {
            margin: 0;
        }
        .content {
            padding: 50px 0;
        }
        .image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #551A8B;
            background-blend-mode: luminosity;
            height: 380px;
            width: 100%;
        }
        .un-sub {
            width: 100%;
            padding: 25px 0 0 0;
            text-align: right;
            display: inline-block;
        }
        .un-sub a {
            font-size: 18px;
            color: #551A8B;
            font-weight: bold;
        }
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .product {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .img-fluid {
            max-width: 100%;
        }
        .box {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden;
            border: 1px solid #4a4a4a;
        }
        .box::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-color: #551A8B;
            border-style: solid;
            border-width: 0;
            -webkit-transition-property: border-width;
            transition-property: border-width;
            -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        .box:hover::before,
        .box:focus::before,
        .box:active::before {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            border-width: 3px;
        }
        .text-black-50 {
            color: rgba(0, 0, 0, 0.5) !important;
        }
        .text-dark {
            color: #343a40 !important;
        }
        .mt-0, .my-0 {
            margin-top: 0 !important;
        }
        .mb-2, .my-2 {
            margin-bottom: 0.5rem !important;
        }
        .old-price {
            text-decoration: line-through;
        }
        .text-danger {
            color: #dc3545 !important;
        }
        small, .small {
            font-size: 80%;
            font-weight: 400;
        }
        b, strong {
            font-weight: bolder;
        }
        .pb-5, .py-5 {
            padding-bottom: 3rem !important;
        }
        .status {
            left: auto;
            right: 0;
            top: 0;
            position: absolute;
        }
        .pl-3, .px-3 {
            padding-left: 1rem !important;
        }
        .pr-3, .px-3 {
            padding-right: 1rem !important;
        }
        .pb-2, .py-2 {
            padding-bottom: 0.5rem !important;
        }
        .pt-2, .py-2 {
            padding-top: 0.5rem !important;
        }
        .my-0 {
            margin: 0 !important;
        }
        .mt-2, .my-2 {
            margin-top: 0.5rem !important;
        }
        .d-block {
            display: block !important;
        }
        .text-white {
            color: #fff !important;
        }
        .bg-dark {
            background-color: #343a40 !important;
        }
        .bg-danger {
            background-color: #dc3545 !important;
        }
        .products {
            margin-bottom: 50px;
        }
        .x_box {
            position: relative;
        }
        .x_status {
            position:absolute;
        }
    </style>
</head>
<body>
    <div class="header bg-purple">
        <div class="container">
            <div class="text-center">
                <h1 class="text-white">{{ title }}</h1>
            </div>
        </div>
    </div>
    <div>
        <div class="image" style="background-image: url('http://web-shop.local/images/template_1_image.jpg')"></div>
        <div class="container">
            <div class="un-sub">
                <a href="http://web-shop.local/newsletter/unsubscribe?email={{ email }}">Unsubscribe</a>
            </div>
            <div class="content">
                {{ message|raw }}
            </div>
            {% if discount_products %}
                <div class="products">
                    <h2>We offer you these discount products.</h2>
                    <div class="row">
                        {% for product in discount_products %}
                            <div class="product my-2">
                                <a href="http://web-shop.local/view/content/{{ product.id }}" class="box text-center">
                                    <div class="position-absolute status">
                                        {% if product.publish > date('-10days') %}
                                            <div class="bg-dark py-2 px-3 mb-2">
                                                <p class="my-0 text-white">New</p>
                                            </div>
                                        {% endif %}
                                        {% if product.discount > 0 %}
                                            <div class="bg-danger py-2 px-3">
                                                <p class="my-0 text-white">-{{ product.discount }}%</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="pb-5">
                                        <img class="img-fluid" src="{% if product.images|length > 0 %}http://web-shop.local/products/images/alias/medium/{{ product.images[0] }}{% else %}http://placehold.it/300x300{% endif %}" alt="Article">
                                        <span class="text-black-50 my-2 d-block">456456465</span>
                                        <p class="my-0 text-dark">{{ product.subCategory }} - {{ product.brand }}</p>
                                        <h4 class="my-2 text-dark">
                                            {% if product.discount > 0 %}
                                                <small class="old-price text-danger">
                                                    {{ product.price|number_format(2, '.', ',') }} RSD
                                                </small>
                                                <div class="clearfix"></div>
                                                <b>{{ (product.price - (product.price * product.discount) / 100)|number_format(2, '.', ',') }} RSD</b>
                                            {% else %}
                                                <b>{{ product.price|number_format(2, '.', ',') }} RSD</b>
                                            {% endif %}
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if new_products %}
                <div class="products">
                    <h2>These products are posted in last 24h</h2>
                    <div class="row">
                        {% for product in new_products %}
                            <div class="product my-2">
                                <a href="http://web-shop.local/view/content/{{ product.id }}" class="box text-center">
                                    <div class="position-absolute status">
                                        {% if product.publish > date('-10days') %}
                                            <div class="bg-dark py-2 px-3 mb-2">
                                                <p class="my-0 text-white">New</p>
                                            </div>
                                        {% endif %}
                                        {% if product.discount > 0 %}
                                            <div class="bg-danger py-2 px-3">
                                                <p class="my-0 text-white">-{{ product.discount }}%</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="pb-5">
                                        <img class="img-fluid" src="{% if product.images|length > 0 %}http://web-shop.local/products/images/alias/medium/{{ product.images[0] }} {% else %}http://placehold.it/300x300{% endif %}" alt="Article">
                                        <span class="text-black-50 my-2 d-block">456456465</span>
                                        <p class="my-0 text-dark">{{ product.subCategory }} - {{ product.brand }}</p>
                                        <h4 class="my-2 text-dark">
                                            {% if product.discount > 0 %}
                                                <small class="old-price text-danger">
                                                    {{ product.price|number_format(2, '.', ',') }} RSD
                                                </small>
                                                <div class="clearfix"></div>
                                                <b>{{ (product.price - (product.price * product.discount) / 100)|number_format(2, '.', ',') }} RSD</b>
                                            {% else %}
                                                <b>{{ product.price|number_format(2, '.', ',') }} RSD</b>
                                            {% endif %}
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="footer bg-purple">
        <div class="container">
            <p class="text-white text-center">© MjWebDevelopment 2018</p>
        </div>
    </div>
</body>
</html>