{% extends "base_security.html.twig" %}

{% block title %}Confirm registration{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-auto">

                <div class="alert alert-success">
                    <h3 class="my-0">New user is created. Check your inbox in order to activate your account.</h3>
                </div>

            </div>
        </div>
    </div>
{% endblock %}